Repository All-Hands-AI/agent-sdk, pull requests merged in 2025-09, with the labels that each got.

#57 Conversation: make state.events.append a default callback; remove manual appends in CodeActAgent
  openhands/core/agent/codeact_agent/codeact_agent.py
  openhands/core/conversation/conversation.py
  openhands/core/tests/conversation/test_conversation_default_callback.py
Labels: openhands

#74 Standardize on absolute imports (PEP 8) and ensure repo package precedence
  .pre-commit-config.yaml
  openhands/core/__init__.py
  openhands/core/agent/__init__.py
  openhands/core/agent/codeact_agent/__init__.py
  openhands/core/agent/codeact_agent/codeact_agent.py
  openhands/core/config/__init__.py
  openhands/core/context/__init__.py
  openhands/core/context/env_context.py
  openhands/core/context/message_context.py
  openhands/core/context/microagents/__init__.py
  openhands/core/context/microagents/microagent.py
  openhands/core/context/utils/__init__.py
  openhands/core/conversation/__init__.py
  openhands/core/conversation/conversation.py
  openhands/core/event/__init__.py
  openhands/core/event/base.py
  openhands/core/event/llm_convertible.py
  openhands/core/llm/__init__.py
  openhands/core/llm/llm.py
  openhands/core/tool/__init__.py
  openhands/core/tool/builtins/__init__.py
  openhands/core/tool/builtins/finish.py
  openhands/core/tool/tool.py
  openhands/tools/__init__.py
  openhands/tools/execute_bash/__init__.py
  openhands/tools/execute_bash/bash_session.py
  openhands/tools/execute_bash/definition.py
  openhands/tools/execute_bash/impl.py
  openhands/tools/execute_bash/metadata.py
  openhands/tools/str_replace_editor/__init__.py
  openhands/tools/str_replace_editor/editor.py
  openhands/tools/str_replace_editor/impl.py
  openhands/tools/str_replace_editor/utils/encoding.py
  openhands/tools/str_replace_editor/utils/history.py
  openhands/tools/str_replace_editor/utils/shell.py
  openhands/tools/str_replace_editor/utils/truncate.py
  pyproject.toml
  tests/tools/str_replace_editor/test_view_supported_binary_files.py
  uv.lock
Labels: chore, style, tests

#118 Add pause/resume functionality to agent-sdk conversation system
  examples/9_pause_example.py
  openhands/sdk/conversation/conversation.py
  openhands/sdk/conversation/state.py
  openhands/sdk/conversation/visualizer.py
  openhands/sdk/event/__init__.py
  openhands/sdk/event/llm_convertible.py
  tests/sdk/conversation/test_pause_functionality.py
Labels: enhancement, sdk

#219 feat: add integration tests and cron job workflow
  .github/workflows/integration-runner.yml
  pyproject.toml
  tests/__init__.py
  tests/integration/README.md
  tests/integration/__init__.py
  tests/integration/base.py
  tests/integration/run_infer.py
  tests/integration/run_infer.sh
  tests/integration/tests/t01_fix_simple_typo_class_based.py
  tests/integration/utils/__init__.py
  tests/integration/utils/consolidate_results.py
  tests/integration/utils/format_costs.py
  uv.lock
Labels: integration-test

#291 Add t02_add_bash_hello.py integration test
  tests/integration/tests/t02_add_bash_hello.py
Labels: integration-test

#297 Add t07_interactive_commands.py integration test
  tests/integration/tests/t07_interactive_commands.py
Labels: integration-test

#299 Fix integration job when run on schedule
  .github/workflows/integration-runner.yml
Labels: integration-test

#292 Add t03_jupyter_write_file.py integration test
  tests/integration/tests/t03_jupyter_write_file.py
Labels: integration-test

#293 Add t04_git_staging.py integration test
  tests/integration/tests/t04_git_staging.py
Labels: integration-test

#295 Add t06_github_pr_browsing.py integration test
  .github/workflows/integration-runner.yml
  tests/integration/base.py
  tests/integration/tests/t06_github_pr_browsing.py
Labels: integration-test

#324 refactor: remove run_infer.sh for integration tests
  .github/workflows/integration-runner.yml
  tests/integration/run_infer.sh
Labels: integration-test

#332 refactor: update logs
  .github/workflows/integration-runner.yml
  tests/integration/run_infer.py
Labels: integration-test
